html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-image: url(./fruit.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}


.base {
  background-color: #040509;
  color: #CFC2B1;
  overflow: hidden;
  margin-left: 8%;
  text-align: center;
  width: 20%;
  text-align: center;
  height: 100%;
}

.baseP {
  background-color: #040509;
  color: #CFC2B1;
  overflow: hidden;
  margin-left: 8%;
  text-align: center;
  width: 20%;

}

nav {

  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  margin: auto;
  justify-content: right;

  margin-top: 2vh;
}

hr {
  width: 200px;
  color: #CA6338;
  opacity: 0.4;
}


h1 {
  font-family: 'Hurricane', cursive;

  font-size: 50px;
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  font-size: 17px;
}

.nav-link {
  text-decoration: none;
  color: #CFC2B1;
  margin-right: 30px;
  font-size: 150%;
}

.nav-link:hover {
  color: #CA6338;
}

iframe{
  margin-inline-start: 40%;
  position: absolute;
  margin-block-start: -38%
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  margin-right: 2%;
}

ul li {
  list-style: none;
  margin: 0 15px;
}

ul li .fab {
  font-size: 30px;
  line-height: 60px;
  transition: .3s;
  color: #000;
}

ul li .fab:hover {
  color: #fff;
}

ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

ul li a:hover {
  transform: translate(0, -10%);
}

ul li:nth-child(1) a:hover {
  background-color: rgba(0, 0, 0, 0.829);
}

ul li:nth-child(2) a:hover {
  background-color: #000000;
}

ul li:nth-child(3) a:hover {
  background-color: #000000;
}

ul li:nth-child(4) a:hover {
  background-color: rgb(0, 0, 0);
}

ul li:nth-child(5) a:hover {
  background-color: rgb(0, 0, 0);
}

.button {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 2.5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 2%;
}

.button:hover {
  box-shadow: 1px 1px 15px 5px #CA6338;
}

.imgWidht {
  width: 20%;
}

@media only screen and (max-device-width : 1100px) {
  iframe {
    visibility: hidden;

  }
  .nav-link {
    text-decoration: none;
    color: #CFC2B1;
    margin-right: 30px;
    font-size: 230%;
    
  }
  .imgWidht {
    width: 50%;
  }
  .base {
    background-color: #040509;
    color: #CFC2B1;
    overflow: hidden;
    margin-left: 8%;
    text-align: center;
    width: auto;
    height: auto;
    text-align: center;
    height: 100%;
  }
html{
  background-color: #040509;
  
}
.baseP{
  font-size: 2.5em;

}
}